<?xml version="1.0"?>
<robot name="pelican_fei" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- Include a XACRO file for the MVBlueFOX camera -->
    
    <property name="M_PI" value="3.1415926535897931" />
    
    <!-- BASE-FOOTPRINT -->
    <!-- base_footprint is a fictitious link (frame) that is on the ground right below base_link origin, navigation stack depends on this frame -->
    <link name="$(arg prefix)_base_footprint">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.001 0.001 0.001" />
            </geometry>
        </visual>
    </link>
    
    <joint name="$(arg prefix)_base_footprint_joint" type="fixed">
		<origin xyz="0.0 0.0 0.14" rpy="0.0 0.0 0.0" />
        <parent link="$(arg prefix)_base_footprint"/>
        <child link="$(arg prefix)_base_link" />
    </joint>
    
    <!-- BASE-LINK -->
    <!-- Actual body/chassis of the quadrotor -->
    <link name="$(arg prefix)_base_link">
        <!-- TODO add collision and inertial info based on hector -->        
        <visual>
            <!-- <origin xyz="0.0 0.0 0.0" rpy="1.57 0.0 3.1415"/>
            <origin xyz="0.0 0.0 0.0" rpy="1.57 0.0 0.7854"/> -->        
            <origin xyz="0 0 -0.055" rpy="${M_PI/2.0} 0 ${M_PI/4.0}" />
            <geometry>
                <mesh filename="package://asctec_pelican_description/meshes/pelican.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="Black" />
            <!-- 
            <material name="blue">
              <color rgba="0.4 0.4 0.5 1.0"/>
            </material>
            -->
        </visual>  
    </link>

    <joint name="$(arg prefix)_bluefox_joint" type="fixed">
        <origin xyz="0.0 0.0680 -0.12" rpy="0.0 ${M_PI/2.0} 0.0" />
        <parent link="$(arg prefix)_base_link" />
        <child link="$(arg prefix)_bluefox_link" />
    </joint>
    
    <link name="$(arg prefix)_bluefox_link">
        <visual>
            <origin xyz="-0.015 0.0 0.0" rpy="0 0 0" />
            <geometry>
                <box size="0.030 0.035 0.030" />
                <material name="Blue" />
            </geometry>
        </visual>
    </link>

</robot>


