<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="pelican"/>

  <!-- TODO should investigate how to publish static tfs -->

  <!-- Send Pelican quadrotor URDF/XACRO to param server -->
  <param name="robot_description" 
         command="$(find xacro)/xacro.py 
                  '$(find asctec_pelican_description)/urdf/pelican_fei.urdf.xacro'
                  prefix:=$(arg robot_name)"/>
  <!-- Publish state and tf  -->
  <node name="local_robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <param name="publish_frequency" type="double" value="100.0"/>
  </node>

  <node name="local_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
</launch>
